// BUTTONS
.btn-block { border: none; }

.btn-light { 
  color: $color-gray-2;
  border: 1px solid $color-gray-1; 
  &:hover {
    color: $color-gray-2;
    border: 1px solid $color-gray-1; 
  }
}
.btn { 
  font-size: $font-size-13;
  padding: .625rem .855rem;
  .ing {
    font-size: .78rem;
    position: relative;
    top: -2px;
  }
}
.btn-lg {   
  font-size: $font-size-15;
  padding: .75rem .99rem;
  .ing {
    top: -2px;
  }
}
.btn-sm {   
  font-size: $font-size-12;
  padding: .313rem .75rem;
  .ing {
    font-size: .65rem;
    top: -1px;
  }
}
.btn-link {
  font-weight: $btn-font-weight;
  &:hover, 
  &:focus {
    text-decoration: none;
  }
}