@mixin NewClassColor($className, $colorSelected, $colorSelected1, $colorSelected2, $colorSelected3, $colorSelected4) {
    .color-#{$className} { color: $colorSelected; }    
    .color-#{$className}-1 { color: $colorSelected1; }
    .color-#{$className}-2 { color: $colorSelected2; }
    .color-#{$className}-3 { color: $colorSelected3; }
    .color-#{$className}-4 { color: $colorSelected4; }
    .bg-#{$className} { background-color: $colorSelected; }
    .bg-#{$className}-1 { background-color: $colorSelected1; }
    .bg-#{$className}-2 { background-color: $colorSelected2; }
    .bg-#{$className}-3 { background-color: $colorSelected3; }
    .bg-#{$className}-4 { background-color: $colorSelected4; }
    .hr-#{$className} { border-top: 1px solid $colorSelected; }
    .hr-#{$className}-1 { border-top: 1px solid $colorSelected1; }
    .hr-#{$className}-2 { border-top: 1px solid $colorSelected2; }
    .hr-#{$className}-3 { border-top: 1px solid $colorSelected3; }
    .hr-#{$className}-4 { border-top: 1px solid $colorSelected4; }
  }

  @include NewClassColor('blue', $color-blue, $color-blue-1, $color-blue-2, $color-blue-3, $color-blue-4 ); 
  @include NewClassColor('red', $color-red, $color-red-1, $color-red-2, $color-red-3, $color-red-4 );
  @include NewClassColor('orange', $color-orange, $color-orange-1, $color-orange-2, $color-orange-3, $color-orange-4 );
  @include NewClassColor('green', $color-green, $color-green-1, $color-green-2, $color-green-3, $color-green-4 );
  @include NewClassColor('purple', $color-purple, $color-purple-1, $color-purple-2, $color-purple-3, $color-purple-4 );
  @include NewClassColor('gray', $color-gray, $color-gray-1, $color-gray-2, $color-gray-3, $color-gray-4 );
  @include NewClassColor('navy', $color-navy, $color-navy-1, $color-navy-2, $color-navy-3, $color-navy-4 );
  @include NewClassColor('ocean', $color-ocean, $color-ocean-1, $color-ocean-2, $color-ocean-3, $color-ocean-4 );
  @include NewClassColor('deep-purple', $color-deep-purple, $color-deep-purple-1, $color-deep-purple-2, $color-deep-purple-3, $color-deep-purple-4 );
  @include NewClassColor('majesty', $color-majesty, $color-majesty-1, $color-majesty-2, $color-majesty-3, $color-majesty-4 );
  @include NewClassColor('pink', $color-pink, $color-pink-1, $color-pink-2, $color-pink-3, $color-pink-4 );
  @include NewClassColor('chocolate', $color-chocolate, $color-chocolate-1, $color-chocolate-2, $color-chocolate-3, $color-chocolate-4 );
  @include NewClassColor('coyote', $color-coyote, $color-coyote-1, $color-coyote-2, $color-coyote-3, $color-coyote-4 );
  @include NewClassColor('yellow', $color-yellow, $color-yellow-1, $color-yellow-2, $color-yellow-3, $color-yellow-4 );
  @include NewClassColor('brown', $color-brown, $color-brown-1, $color-brown-2, $color-brown-3, $color-brown-4 );
  @include NewClassColor('emerald', $color-emerald, $color-emerald-1, $color-emerald-2, $color-emerald-3, $color-emerald-4 );
  @include NewClassColor('pistachio', $color-pistachio, $color-pistachio-1, $color-pistachio-2, $color-pistachio-3, $color-pistachio-4 );
  @include NewClassColor('blueish', $color-blueish, $color-blueish-1, $color-blueish-2, $color-blueish-3, $color-blueish-4 );
  @include NewClassColor('secondary', $color-secondary, $color-secondary-1, $color-secondary-2, $color-secondary-3, $color-secondary-4 );
  @include NewClassColor('ingaia', $color-ingaia, $color-ingaia-1, $color-ingaia-2, $color-ingaia-3, $color-ingaia-4 );
  @include NewClassColor('saas', $color-saas, $color-saas-1, $color-saas-2, $color-saas-3, $color-saas-4 );
  @include NewClassColor('maas', $color-maas, $color-maas-1, $color-maas-2, $color-maas-3, $color-maas-4 );
  @include NewClassColor('education', $color-education, $color-education-1, $color-education-2, $color-education-3, $color-education-4 );
  @include NewClassColor('financial-solution', $color-financial-solution, $color-financial-solution-1, $color-financial-solution-2, $color-financial-solution-3, $color-financial-solution-4 );
  @include NewClassColor('real-estate-left', $color-real-estate-left, $color-real-estate-left-1, $color-real-estate-left-2, $color-real-estate-left-3, $color-real-estate-left-4 );
  

  @mixin NewClassColorSingle($nameColorSingle, $colorSingle){
    .color-#{$nameColorSingle} { color: $colorSingle; }
    .bg-#{$nameColorSingle} { background-color: $colorSingle; }
    .hr-#{$nameColorSingle} { border-top: 1px solid $colorSingle; }
  }

    // COLORS CLASS
  @include NewClassColorSingle('white', #fff);
  @include NewClassColorSingle('silver', $brand-primary);
  @include NewClassColorSingle('transparent', transparent );
  @include NewClassColorSingle('video-5', #30353C );

  @include NewClassColorSingle('primary', $brand-primary );
  @include NewClassColorSingle('success', $brand-success );
  @include NewClassColorSingle('info', $brand-info );
  @include NewClassColorSingle('warning', $brand-warning );
  @include NewClassColorSingle('danger', $brand-danger );

  .color-inverse {
    background-color: $color-gray-3;
    button, a, p, i, span, div, table, thead, th, tr, h1, h2, h3, h4, h5, h6 {
      color: #ffffff;
    }
  }