//COLORS in COLORS
$color-navy:                  #0a345e;
$color-navy-1:                #5668b1;
$color-navy-2:                #4052a4;
$color-navy-3:                #243571;
$color-navy-4:                #222e64;

$color-blue:                  #00a2c2;
$color-blue-1:                #06adcf;
$color-blue-2:                #168fab;
$color-blue-3:                #116f84;
$color-blue-4:                #0f3842;

$color-purple:                #9d72af;
$color-purple-1:              #cda7ce;
$color-purple-2:              #a77ab5;
$color-purple-3:              #886297;
$color-purple-4:              #634970;

$color-green:                 #3cb185;
$color-green-1:               #53be86;
$color-green-2:               #35a56f;
$color-green-3:               #1c7e57;
$color-green-4:               #133d2a;

$color-orange:                #e89d51;
$color-orange-1:              #be8244;
$color-orange-2:              #faaa5c;
$color-orange-3:              #7d562e;
$color-orange-4:              #3d2812;

$color-red:                   #f0545e;
$color-red-1:                 #e24a54;
$color-red-2:                 #bf3d49;
$color-red-3:                 #7b272d;
$color-red-4:                 #371417;

$color-gray:                  #dedede;
$color-gray-1:                #b5b5b5;
$color-gray-2:                #676767;
$color-gray-3:                #2f343b;
$color-gray-4:                #222222;

$color-silver:               #6e8c99;

$color-ocean:                 #2884b0;
$color-ocean-1:               #5ab8e8;
$color-ocean-2:               #2e8dbd;
$color-ocean-3:               #277297;
$color-ocean-4:               #1f526d;

$color-deep-purple:           #5b469b;
$color-deep-purple-1:         #6d5ea9;
$color-deep-purple-2:         #614c9f;
$color-deep-purple-3:         #4f3594;
$color-deep-purple-4:         #392c70;

$color-majesty:               #9c69ac;
$color-majesty-1:             #a270b0;
$color-majesty-2:             #925da7;
$color-majesty-3:             #7f489a;
$color-majesty-4:             #492b5a;

$color-pink:                  #ce1e65;
$color-pink-1:                #dc176a;
$color-pink-2:                #b51f59;
$color-pink-3:                #8d1946;
$color-pink-4:                #481325;

$color-chocolate:             #725722;
$color-chocolate-1:           #fec350;
$color-chocolate-2:           #be9338;
$color-chocolate-3:           #7e612b;
$color-chocolate-4:           #57431d;

$color-coyote:                #8f8332;
$color-coyote-1:              #dac824;
$color-coyote-2:              #9d9135;
$color-coyote-3:              #776e2d;
$color-coyote-4:              #504a1e;

$color-yellow:                #f4f077;
$color-yellow-1:              #e6e463;
$color-yellow-2:              #bfbc54;
$color-yellow-3:              #7f7e37;
$color-yellow-4:              #40411e;

$color-brown:                 #c0ad8f;
$color-brown-1:               #c9b998;
$color-brown-2:               #a4967e;
$color-brown-3:               #7d745e;
$color-brown-4:               #3e392f;

$color-emerald:               #91cb74;
$color-emerald-1:             #7ec573;
$color-emerald-2:             #59bc66;
$color-emerald-3:             #2f8144;
$color-emerald-4:             #1c4324;

$color-pistachio:             #a8d9be;
$color-pistachio-1:           #b4dec6;
$color-pistachio-2:           #95bfa8;
$color-pistachio-3:           #789b89;
$color-pistachio-4:           #465b50;

$color-blueish:               #2f343b;
$color-blueish-1:             #9fb0c8;
$color-blueish-2:             #6c7788;
$color-blueish-3:             #393f49;
$color-blueish-4:             #30353c;
