// ARROWS
[class*="arrow-"] {
  &:after{
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border: 0 solid;
  }
}

@function inverseBorderFunc($positionArrow) {
  $inverseBorder: bottom;
  @if $positionArrow == bottom {
    $inverseBorder: top;
  } @else if $positionArrow == left{
    $inverseBorder: right;
  } @else if $positionArrow == right{
    $inverseBorder: left;
  }
  @return $inverseBorder;
}
@function arrowSizeBorderFunc($positionArrow) {
  $arrowSizeBorder: 0px 7px 7px 7px;
  @if $positionArrow == bottom {
    $arrowSizeBorder: 7px 7px 0px 7px;
  } @else if $positionArrow == left{
    $arrowSizeBorder: 7px 7px 7px 7px;
  } @else if $positionArrow == right{
    $arrowSizeBorder: 7px 7px 7px 7px;
  }
  @return $arrowSizeBorder;
}    

@function positionArrowY($borderPosition, $arrowPositionName){
  $positionY: calc(0% - 10px);
  @if $borderPosition == bottom {
    $positionY: calc(100% + 3px);
  } @else if ($borderPosition == left) or ($borderPosition == right){
    $positionY: calc(0% + 20px);
    @if $arrowPositionName == middle {
      $positionY: calc(100% - 50% - 7.5px);
    } @else if $arrowPositionName == bottom{
      $positionY: calc(100% - 30px);
    }
  }
  @return $positionY;
}
@function positionArrowX($borderPosition, $arrowPositionName){
  $positionX: calc(0% - 17px);
  @if $borderPosition == right {
    $positionX: calc(100% + 3px);
  } @else if ($borderPosition == top) or ($borderPosition == bottom){
    $positionX: calc(100% - 30px);
    @if $arrowPositionName == middle {
      $positionX: calc(100% - 50% - 7.5px);
    } @else if $arrowPositionName == left{
      $positionX: calc(0% + 20px);
    }
  }  
  @return $positionX;
}

@mixin NewArrowTeste(
  $borderPosition, $arrowPositionName, $classColorName, 
  $borderColor, $borderColor1, $borderColor2, $borderColor3, $borderColor4
  ) {
  .arrow-#{$borderPosition}-#{$arrowPositionName}-#{$classColorName} {
    border-#{$borderPosition}: 3px solid $borderColor;
    &:after{
      border-color: transparent;
      border-#{inverseBorderFunc($borderPosition)}-color: $borderColor;
      border-width: arrowSizeBorderFunc($borderPosition);
      top: positionArrowY($borderPosition, $arrowPositionName);
      left: positionArrowX($borderPosition, $arrowPositionName);
    }
  }
  .arrow-#{$borderPosition}-#{$arrowPositionName}-#{$classColorName}-1 {
    border-#{$borderPosition}: 3px solid $borderColor1 !important;
    &:after{
      border-color: transparent;
      border-#{inverseBorderFunc($borderPosition)}-color: $borderColor1;
      border-width: arrowSizeBorderFunc($borderPosition);
      top: positionArrowY($borderPosition, $arrowPositionName);
      left: positionArrowX($borderPosition, $arrowPositionName);
    }
  }
  .arrow-#{$borderPosition}-#{$arrowPositionName}-#{$classColorName}-2 {
    border-#{$borderPosition}: 3px solid $borderColor2 !important;
    &:after{
      border-color: transparent;
      border-#{inverseBorderFunc($borderPosition)}-color: $borderColor2;
      border-width: arrowSizeBorderFunc($borderPosition);
      top: positionArrowY($borderPosition, $arrowPositionName);
      left: positionArrowX($borderPosition, $arrowPositionName);
    }
  }
  .arrow-#{$borderPosition}-#{$arrowPositionName}-#{$classColorName}-3 {
    border-#{$borderPosition}: 3px solid $borderColor3 !important;
    &:after{
      border-color: transparent;
      border-#{inverseBorderFunc($borderPosition)}-color: $borderColor3;
      border-width: arrowSizeBorderFunc($borderPosition);
      top: positionArrowY($borderPosition, $arrowPositionName);
      left: positionArrowX($borderPosition, $arrowPositionName);
    }
  }
  .arrow-#{$borderPosition}-#{$arrowPositionName}-#{$classColorName}-4 {
    border-#{$borderPosition}: 3px solid $borderColor4 !important;
    &:after{
      border-color: transparent;
      border-#{inverseBorderFunc($borderPosition)}-color: $borderColor4;
      border-width: arrowSizeBorderFunc($borderPosition);
      top: positionArrowY($borderPosition, $arrowPositionName);
      left: positionArrowX($borderPosition, $arrowPositionName);
    }
  }
}

// BLUE
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  blue, $color-blue, $color-blue-1, $color-blue-2, $color-blue-3, $color-blue-4 );
@include NewArrowTeste( top,    middle, blue, $color-blue, $color-blue-1, $color-blue-2, $color-blue-3, $color-blue-4 );
@include NewArrowTeste( top,    left,   blue, $color-blue, $color-blue-1, $color-blue-2, $color-blue-3, $color-blue-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  blue, $color-blue, $color-blue-1, $color-blue-2, $color-blue-3, $color-blue-4 );
@include NewArrowTeste( bottom, middle, blue, $color-blue, $color-blue-1, $color-blue-2, $color-blue-3, $color-blue-4 );
@include NewArrowTeste( bottom, left,   blue, $color-blue, $color-blue-1, $color-blue-2, $color-blue-3, $color-blue-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    blue, $color-blue, $color-blue-1, $color-blue-2, $color-blue-3, $color-blue-4 );
@include NewArrowTeste( left,   middle, blue, $color-blue, $color-blue-1, $color-blue-2, $color-blue-3, $color-blue-4 );
@include NewArrowTeste( left,   bottom, blue, $color-blue, $color-blue-1, $color-blue-2, $color-blue-3, $color-blue-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    blue, $color-blue, $color-blue-1, $color-blue-2, $color-blue-3, $color-blue-4 );
@include NewArrowTeste( right,  middle, blue, $color-blue, $color-blue-1, $color-blue-2, $color-blue-3, $color-blue-4 );
@include NewArrowTeste( right,  bottom, blue, $color-blue, $color-blue-1, $color-blue-2, $color-blue-3, $color-blue-4 );

//RED
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  red, $color-red, $color-red-1, $color-red-2, $color-red-3, $color-red-4 );
@include NewArrowTeste( top,    middle, red, $color-red, $color-red-1, $color-red-2, $color-red-3, $color-red-4 );
@include NewArrowTeste( top,    left,   red, $color-red, $color-red-1, $color-red-2, $color-red-3, $color-red-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  red, $color-red, $color-red-1, $color-red-2, $color-red-3, $color-red-4 );
@include NewArrowTeste( bottom, middle, red, $color-red, $color-red-1, $color-red-2, $color-red-3, $color-red-4 );
@include NewArrowTeste( bottom, left,   red, $color-red, $color-red-1, $color-red-2, $color-red-3, $color-red-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    red, $color-red, $color-red-1, $color-red-2, $color-red-3, $color-red-4 );
@include NewArrowTeste( left,   middle, red, $color-red, $color-red-1, $color-red-2, $color-red-3, $color-red-4 );
@include NewArrowTeste( left,   bottom, red, $color-red, $color-red-1, $color-red-2, $color-red-3, $color-red-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    red, $color-red, $color-red-1, $color-red-2, $color-red-3, $color-red-4 );
@include NewArrowTeste( right,  middle, red, $color-red, $color-red-1, $color-red-2, $color-red-3, $color-red-4 );
@include NewArrowTeste( right,  bottom, red, $color-red, $color-red-1, $color-red-2, $color-red-3, $color-red-4 );

//ORANGE
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  orange, $color-orange, $color-orange-1, $color-orange-2, $color-orange-3, $color-orange-4 );
@include NewArrowTeste( top,    middle, orange, $color-orange, $color-orange-1, $color-orange-2, $color-orange-3, $color-orange-4 );
@include NewArrowTeste( top,    left,   orange, $color-orange, $color-orange-1, $color-orange-2, $color-orange-3, $color-orange-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  orange, $color-orange, $color-orange-1, $color-orange-2, $color-orange-3, $color-orange-4 );
@include NewArrowTeste( bottom, middle, orange, $color-orange, $color-orange-1, $color-orange-2, $color-orange-3, $color-orange-4 );
@include NewArrowTeste( bottom, left,   orange, $color-orange, $color-orange-1, $color-orange-2, $color-orange-3, $color-orange-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    orange, $color-orange, $color-orange-1, $color-orange-2, $color-orange-3, $color-orange-4 );
@include NewArrowTeste( left,   middle, orange, $color-orange, $color-orange-1, $color-orange-2, $color-orange-3, $color-orange-4 );
@include NewArrowTeste( left,   bottom, orange, $color-orange, $color-orange-1, $color-orange-2, $color-orange-3, $color-orange-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    orange, $color-orange, $color-orange-1, $color-orange-2, $color-orange-3, $color-orange-4 );
@include NewArrowTeste( right,  middle, orange, $color-orange, $color-orange-1, $color-orange-2, $color-orange-3, $color-orange-4 );
@include NewArrowTeste( right,  bottom, orange, $color-orange, $color-orange-1, $color-orange-2, $color-orange-3, $color-orange-4 );

//GREEN
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  green, $color-green, $color-green-1, $color-green-2, $color-green-3, $color-green-4 );
@include NewArrowTeste( top,    middle, green, $color-green, $color-green-1, $color-green-2, $color-green-3, $color-green-4 );
@include NewArrowTeste( top,    left,   green, $color-green, $color-green-1, $color-green-2, $color-green-3, $color-green-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  green, $color-green, $color-green-1, $color-green-2, $color-green-3, $color-green-4 );
@include NewArrowTeste( bottom, middle, green, $color-green, $color-green-1, $color-green-2, $color-green-3, $color-green-4 );
@include NewArrowTeste( bottom, left,   green, $color-green, $color-green-1, $color-green-2, $color-green-3, $color-green-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    green, $color-green, $color-green-1, $color-green-2, $color-green-3, $color-green-4 );
@include NewArrowTeste( left,   middle, green, $color-green, $color-green-1, $color-green-2, $color-green-3, $color-green-4 );
@include NewArrowTeste( left,   bottom, green, $color-green, $color-green-1, $color-green-2, $color-green-3, $color-green-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    green, $color-green, $color-green-1, $color-green-2, $color-green-3, $color-green-4 );
@include NewArrowTeste( right,  middle, green, $color-green, $color-green-1, $color-green-2, $color-green-3, $color-green-4 );
@include NewArrowTeste( right,  bottom, green, $color-green, $color-green-1, $color-green-2, $color-green-3, $color-green-4 );


//PURPLE
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  purple, $color-purple, $color-purple-1, $color-purple-2, $color-purple-3, $color-purple-4 );
@include NewArrowTeste( top,    middle, purple, $color-purple, $color-purple-1, $color-purple-2, $color-purple-3, $color-purple-4 );
@include NewArrowTeste( top,    left,   purple, $color-purple, $color-purple-1, $color-purple-2, $color-purple-3, $color-purple-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  purple, $color-purple, $color-purple-1, $color-purple-2, $color-purple-3, $color-purple-4 );
@include NewArrowTeste( bottom, middle, purple, $color-purple, $color-purple-1, $color-purple-2, $color-purple-3, $color-purple-4 );
@include NewArrowTeste( bottom, left,   purple, $color-purple, $color-purple-1, $color-purple-2, $color-purple-3, $color-purple-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    purple, $color-purple, $color-purple-1, $color-purple-2, $color-purple-3, $color-purple-4 );
@include NewArrowTeste( left,   middle, purple, $color-purple, $color-purple-1, $color-purple-2, $color-purple-3, $color-purple-4 );
@include NewArrowTeste( left,   bottom, purple, $color-purple, $color-purple-1, $color-purple-2, $color-purple-3, $color-purple-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    purple, $color-purple, $color-purple-1, $color-purple-2, $color-purple-3, $color-purple-4 );
@include NewArrowTeste( right,  middle, purple, $color-purple, $color-purple-1, $color-purple-2, $color-purple-3, $color-purple-4 );
@include NewArrowTeste( right,  bottom, purple, $color-purple, $color-purple-1, $color-purple-2, $color-purple-3, $color-purple-4 );


//GRAY
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  gray, $color-gray, $color-gray-1, $color-gray-2, $color-gray-3, $color-gray-4 );
@include NewArrowTeste( top,    middle, gray, $color-gray, $color-gray-1, $color-gray-2, $color-gray-3, $color-gray-4 );
@include NewArrowTeste( top,    left,   gray, $color-gray, $color-gray-1, $color-gray-2, $color-gray-3, $color-gray-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  gray, $color-gray, $color-gray-1, $color-gray-2, $color-gray-3, $color-gray-4 );
@include NewArrowTeste( bottom, middle, gray, $color-gray, $color-gray-1, $color-gray-2, $color-gray-3, $color-gray-4 );
@include NewArrowTeste( bottom, left,   gray, $color-gray, $color-gray-1, $color-gray-2, $color-gray-3, $color-gray-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    gray, $color-gray, $color-gray-1, $color-gray-2, $color-gray-3, $color-gray-4 );
@include NewArrowTeste( left,   middle, gray, $color-gray, $color-gray-1, $color-gray-2, $color-gray-3, $color-gray-4 );
@include NewArrowTeste( left,   bottom, gray, $color-gray, $color-gray-1, $color-gray-2, $color-gray-3, $color-gray-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    gray, $color-gray, $color-gray-1, $color-gray-2, $color-gray-3, $color-gray-4 );
@include NewArrowTeste( right,  middle, gray, $color-gray, $color-gray-1, $color-gray-2, $color-gray-3, $color-gray-4 );
@include NewArrowTeste( right,  bottom, gray, $color-gray, $color-gray-1, $color-gray-2, $color-gray-3, $color-gray-4 );

//NAVY
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  navy, $color-navy, $color-navy-1, $color-navy-2, $color-navy-3, $color-navy-4 );
@include NewArrowTeste( top,    middle, navy, $color-navy, $color-navy-1, $color-navy-2, $color-navy-3, $color-navy-4 );
@include NewArrowTeste( top,    left,   navy, $color-navy, $color-navy-1, $color-navy-2, $color-navy-3, $color-navy-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  navy, $color-navy, $color-navy-1, $color-navy-2, $color-navy-3, $color-navy-4 );
@include NewArrowTeste( bottom, middle, navy, $color-navy, $color-navy-1, $color-navy-2, $color-navy-3, $color-navy-4 );
@include NewArrowTeste( bottom, left,   navy, $color-navy, $color-navy-1, $color-navy-2, $color-navy-3, $color-navy-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    navy, $color-navy, $color-navy-1, $color-navy-2, $color-navy-3, $color-navy-4 );
@include NewArrowTeste( left,   middle, navy, $color-navy, $color-navy-1, $color-navy-2, $color-navy-3, $color-navy-4 );
@include NewArrowTeste( left,   bottom, navy, $color-navy, $color-navy-1, $color-navy-2, $color-navy-3, $color-navy-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    navy, $color-navy, $color-navy-1, $color-navy-2, $color-navy-3, $color-navy-4 );
@include NewArrowTeste( right,  middle, navy, $color-navy, $color-navy-1, $color-navy-2, $color-navy-3, $color-navy-4 );
@include NewArrowTeste( right,  bottom, navy, $color-navy, $color-navy-1, $color-navy-2, $color-navy-3, $color-navy-4 );

//OCEAN
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  ocean, $color-ocean, $color-ocean-1, $color-ocean-2, $color-ocean-3, $color-ocean-4 );
@include NewArrowTeste( top,    middle, ocean, $color-ocean, $color-ocean-1, $color-ocean-2, $color-ocean-3, $color-ocean-4 );
@include NewArrowTeste( top,    left,   ocean, $color-ocean, $color-ocean-1, $color-ocean-2, $color-ocean-3, $color-ocean-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  ocean, $color-ocean, $color-ocean-1, $color-ocean-2, $color-ocean-3, $color-ocean-4 );
@include NewArrowTeste( bottom, middle, ocean, $color-ocean, $color-ocean-1, $color-ocean-2, $color-ocean-3, $color-ocean-4 );
@include NewArrowTeste( bottom, left,   ocean, $color-ocean, $color-ocean-1, $color-ocean-2, $color-ocean-3, $color-ocean-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    ocean, $color-ocean, $color-ocean-1, $color-ocean-2, $color-ocean-3, $color-ocean-4 );
@include NewArrowTeste( left,   middle, ocean, $color-ocean, $color-ocean-1, $color-ocean-2, $color-ocean-3, $color-ocean-4 );
@include NewArrowTeste( left,   bottom, ocean, $color-ocean, $color-ocean-1, $color-ocean-2, $color-ocean-3, $color-ocean-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    ocean, $color-ocean, $color-ocean-1, $color-ocean-2, $color-ocean-3, $color-ocean-4 );
@include NewArrowTeste( right,  middle, ocean, $color-ocean, $color-ocean-1, $color-ocean-2, $color-ocean-3, $color-ocean-4 );
@include NewArrowTeste( right,  bottom, ocean, $color-ocean, $color-ocean-1, $color-ocean-2, $color-ocean-3, $color-ocean-4 );

//DEEP-PURPLE
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  deep-purple, $color-deep-purple, $color-deep-purple-1, $color-deep-purple-2, $color-deep-purple-3, $color-deep-purple-4 );
@include NewArrowTeste( top,    middle, deep-purple, $color-deep-purple, $color-deep-purple-1, $color-deep-purple-2, $color-deep-purple-3, $color-deep-purple-4 );
@include NewArrowTeste( top,    left,   deep-purple, $color-deep-purple, $color-deep-purple-1, $color-deep-purple-2, $color-deep-purple-3, $color-deep-purple-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  deep-purple, $color-deep-purple, $color-deep-purple-1, $color-deep-purple-2, $color-deep-purple-3, $color-deep-purple-4 );
@include NewArrowTeste( bottom, middle, deep-purple, $color-deep-purple, $color-deep-purple-1, $color-deep-purple-2, $color-deep-purple-3, $color-deep-purple-4 );
@include NewArrowTeste( bottom, left,   deep-purple, $color-deep-purple, $color-deep-purple-1, $color-deep-purple-2, $color-deep-purple-3, $color-deep-purple-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    deep-purple, $color-deep-purple, $color-deep-purple-1, $color-deep-purple-2, $color-deep-purple-3, $color-deep-purple-4 );
@include NewArrowTeste( left,   middle, deep-purple, $color-deep-purple, $color-deep-purple-1, $color-deep-purple-2, $color-deep-purple-3, $color-deep-purple-4 );
@include NewArrowTeste( left,   bottom, deep-purple, $color-deep-purple, $color-deep-purple-1, $color-deep-purple-2, $color-deep-purple-3, $color-deep-purple-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    deep-purple, $color-deep-purple, $color-deep-purple-1, $color-deep-purple-2, $color-deep-purple-3, $color-deep-purple-4 );
@include NewArrowTeste( right,  middle, deep-purple, $color-deep-purple, $color-deep-purple-1, $color-deep-purple-2, $color-deep-purple-3, $color-deep-purple-4 );
@include NewArrowTeste( right,  bottom, deep-purple, $color-deep-purple, $color-deep-purple-1, $color-deep-purple-2, $color-deep-purple-3, $color-deep-purple-4 );

//MAJESTY
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  majesty, $color-majesty, $color-majesty-1, $color-majesty-2, $color-majesty-3, $color-majesty-4 );
@include NewArrowTeste( top,    middle, majesty, $color-majesty, $color-majesty-1, $color-majesty-2, $color-majesty-3, $color-majesty-4 );
@include NewArrowTeste( top,    left,   majesty, $color-majesty, $color-majesty-1, $color-majesty-2, $color-majesty-3, $color-majesty-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  majesty, $color-majesty, $color-majesty-1, $color-majesty-2, $color-majesty-3, $color-majesty-4 );
@include NewArrowTeste( bottom, middle, majesty, $color-majesty, $color-majesty-1, $color-majesty-2, $color-majesty-3, $color-majesty-4 );
@include NewArrowTeste( bottom, left,   majesty, $color-majesty, $color-majesty-1, $color-majesty-2, $color-majesty-3, $color-majesty-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    majesty, $color-majesty, $color-majesty-1, $color-majesty-2, $color-majesty-3, $color-majesty-4 );
@include NewArrowTeste( left,   middle, majesty, $color-majesty, $color-majesty-1, $color-majesty-2, $color-majesty-3, $color-majesty-4 );
@include NewArrowTeste( left,   bottom, majesty, $color-majesty, $color-majesty-1, $color-majesty-2, $color-majesty-3, $color-majesty-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    majesty, $color-majesty, $color-majesty-1, $color-majesty-2, $color-majesty-3, $color-majesty-4 );
@include NewArrowTeste( right,  middle, majesty, $color-majesty, $color-majesty-1, $color-majesty-2, $color-majesty-3, $color-majesty-4 );
@include NewArrowTeste( right,  bottom, majesty, $color-majesty, $color-majesty-1, $color-majesty-2, $color-majesty-3, $color-majesty-4 );

//PINK
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  pink, $color-pink, $color-pink-1, $color-pink-2, $color-pink-3, $color-pink-4 );
@include NewArrowTeste( top,    middle, pink, $color-pink, $color-pink-1, $color-pink-2, $color-pink-3, $color-pink-4 );
@include NewArrowTeste( top,    left,   pink, $color-pink, $color-pink-1, $color-pink-2, $color-pink-3, $color-pink-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  pink, $color-pink, $color-pink-1, $color-pink-2, $color-pink-3, $color-pink-4 );
@include NewArrowTeste( bottom, middle, pink, $color-pink, $color-pink-1, $color-pink-2, $color-pink-3, $color-pink-4 );
@include NewArrowTeste( bottom, left,   pink, $color-pink, $color-pink-1, $color-pink-2, $color-pink-3, $color-pink-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    pink, $color-pink, $color-pink-1, $color-pink-2, $color-pink-3, $color-pink-4 );
@include NewArrowTeste( left,   middle, pink, $color-pink, $color-pink-1, $color-pink-2, $color-pink-3, $color-pink-4 );
@include NewArrowTeste( left,   bottom, pink, $color-pink, $color-pink-1, $color-pink-2, $color-pink-3, $color-pink-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    pink, $color-pink, $color-pink-1, $color-pink-2, $color-pink-3, $color-pink-4 );
@include NewArrowTeste( right,  middle, pink, $color-pink, $color-pink-1, $color-pink-2, $color-pink-3, $color-pink-4 );
@include NewArrowTeste( right,  bottom, pink, $color-pink, $color-pink-1, $color-pink-2, $color-pink-3, $color-pink-4 );

//CHOCOLATE
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  chocolate, $color-chocolate, $color-chocolate-1, $color-chocolate-2, $color-chocolate-3, $color-chocolate-4 );
@include NewArrowTeste( top,    middle, chocolate, $color-chocolate, $color-chocolate-1, $color-chocolate-2, $color-chocolate-3, $color-chocolate-4 );
@include NewArrowTeste( top,    left,   chocolate, $color-chocolate, $color-chocolate-1, $color-chocolate-2, $color-chocolate-3, $color-chocolate-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  chocolate, $color-chocolate, $color-chocolate-1, $color-chocolate-2, $color-chocolate-3, $color-chocolate-4 );
@include NewArrowTeste( bottom, middle, chocolate, $color-chocolate, $color-chocolate-1, $color-chocolate-2, $color-chocolate-3, $color-chocolate-4 );
@include NewArrowTeste( bottom, left,   chocolate, $color-chocolate, $color-chocolate-1, $color-chocolate-2, $color-chocolate-3, $color-chocolate-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    chocolate, $color-chocolate, $color-chocolate-1, $color-chocolate-2, $color-chocolate-3, $color-chocolate-4 );
@include NewArrowTeste( left,   middle, chocolate, $color-chocolate, $color-chocolate-1, $color-chocolate-2, $color-chocolate-3, $color-chocolate-4 );
@include NewArrowTeste( left,   bottom, chocolate, $color-chocolate, $color-chocolate-1, $color-chocolate-2, $color-chocolate-3, $color-chocolate-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    chocolate, $color-chocolate, $color-chocolate-1, $color-chocolate-2, $color-chocolate-3, $color-chocolate-4 );
@include NewArrowTeste( right,  middle, chocolate, $color-chocolate, $color-chocolate-1, $color-chocolate-2, $color-chocolate-3, $color-chocolate-4 );
@include NewArrowTeste( right,  bottom, chocolate, $color-chocolate, $color-chocolate-1, $color-chocolate-2, $color-chocolate-3, $color-chocolate-4 );

//COYOTE
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  coyote, $color-coyote, $color-coyote-1, $color-coyote-2, $color-coyote-3, $color-coyote-4 );
@include NewArrowTeste( top,    middle, coyote, $color-coyote, $color-coyote-1, $color-coyote-2, $color-coyote-3, $color-coyote-4 );
@include NewArrowTeste( top,    left,   coyote, $color-coyote, $color-coyote-1, $color-coyote-2, $color-coyote-3, $color-coyote-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  coyote, $color-coyote, $color-coyote-1, $color-coyote-2, $color-coyote-3, $color-coyote-4 );
@include NewArrowTeste( bottom, middle, coyote, $color-coyote, $color-coyote-1, $color-coyote-2, $color-coyote-3, $color-coyote-4 );
@include NewArrowTeste( bottom, left,   coyote, $color-coyote, $color-coyote-1, $color-coyote-2, $color-coyote-3, $color-coyote-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    coyote, $color-coyote, $color-coyote-1, $color-coyote-2, $color-coyote-3, $color-coyote-4 );
@include NewArrowTeste( left,   middle, coyote, $color-coyote, $color-coyote-1, $color-coyote-2, $color-coyote-3, $color-coyote-4 );
@include NewArrowTeste( left,   bottom, coyote, $color-coyote, $color-coyote-1, $color-coyote-2, $color-coyote-3, $color-coyote-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    coyote, $color-coyote, $color-coyote-1, $color-coyote-2, $color-coyote-3, $color-coyote-4 );
@include NewArrowTeste( right,  middle, coyote, $color-coyote, $color-coyote-1, $color-coyote-2, $color-coyote-3, $color-coyote-4 );
@include NewArrowTeste( right,  bottom, coyote, $color-coyote, $color-coyote-1, $color-coyote-2, $color-coyote-3, $color-coyote-4 );

//YELLOW
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  yellow, $color-yellow, $color-yellow-1, $color-yellow-2, $color-yellow-3, $color-yellow-4 );
@include NewArrowTeste( top,    middle, yellow, $color-yellow, $color-yellow-1, $color-yellow-2, $color-yellow-3, $color-yellow-4 );
@include NewArrowTeste( top,    left,   yellow, $color-yellow, $color-yellow-1, $color-yellow-2, $color-yellow-3, $color-yellow-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  yellow, $color-yellow, $color-yellow-1, $color-yellow-2, $color-yellow-3, $color-yellow-4 );
@include NewArrowTeste( bottom, middle, yellow, $color-yellow, $color-yellow-1, $color-yellow-2, $color-yellow-3, $color-yellow-4 );
@include NewArrowTeste( bottom, left,   yellow, $color-yellow, $color-yellow-1, $color-yellow-2, $color-yellow-3, $color-yellow-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    yellow, $color-yellow, $color-yellow-1, $color-yellow-2, $color-yellow-3, $color-yellow-4 );
@include NewArrowTeste( left,   middle, yellow, $color-yellow, $color-yellow-1, $color-yellow-2, $color-yellow-3, $color-yellow-4 );
@include NewArrowTeste( left,   bottom, yellow, $color-yellow, $color-yellow-1, $color-yellow-2, $color-yellow-3, $color-yellow-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    yellow, $color-yellow, $color-yellow-1, $color-yellow-2, $color-yellow-3, $color-yellow-4 );
@include NewArrowTeste( right,  middle, yellow, $color-yellow, $color-yellow-1, $color-yellow-2, $color-yellow-3, $color-yellow-4 );
@include NewArrowTeste( right,  bottom, yellow, $color-yellow, $color-yellow-1, $color-yellow-2, $color-yellow-3, $color-yellow-4 );

//BROWN
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  brown, $color-brown, $color-brown-1, $color-brown-2, $color-brown-3, $color-brown-4 );
@include NewArrowTeste( top,    middle, brown, $color-brown, $color-brown-1, $color-brown-2, $color-brown-3, $color-brown-4 );
@include NewArrowTeste( top,    left,   brown, $color-brown, $color-brown-1, $color-brown-2, $color-brown-3, $color-brown-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  brown, $color-brown, $color-brown-1, $color-brown-2, $color-brown-3, $color-brown-4 );
@include NewArrowTeste( bottom, middle, brown, $color-brown, $color-brown-1, $color-brown-2, $color-brown-3, $color-brown-4 );
@include NewArrowTeste( bottom, left,   brown, $color-brown, $color-brown-1, $color-brown-2, $color-brown-3, $color-brown-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    brown, $color-brown, $color-brown-1, $color-brown-2, $color-brown-3, $color-brown-4 );
@include NewArrowTeste( left,   middle, brown, $color-brown, $color-brown-1, $color-brown-2, $color-brown-3, $color-brown-4 );
@include NewArrowTeste( left,   bottom, brown, $color-brown, $color-brown-1, $color-brown-2, $color-brown-3, $color-brown-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    brown, $color-brown, $color-brown-1, $color-brown-2, $color-brown-3, $color-brown-4 );
@include NewArrowTeste( right,  middle, brown, $color-brown, $color-brown-1, $color-brown-2, $color-brown-3, $color-brown-4 );
@include NewArrowTeste( right,  bottom, brown, $color-brown, $color-brown-1, $color-brown-2, $color-brown-3, $color-brown-4 );

//EMERALD
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  emerald, $color-emerald, $color-emerald-1, $color-emerald-2, $color-emerald-3, $color-emerald-4 );
@include NewArrowTeste( top,    middle, emerald, $color-emerald, $color-emerald-1, $color-emerald-2, $color-emerald-3, $color-emerald-4 );
@include NewArrowTeste( top,    left,   emerald, $color-emerald, $color-emerald-1, $color-emerald-2, $color-emerald-3, $color-emerald-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  emerald, $color-emerald, $color-emerald-1, $color-emerald-2, $color-emerald-3, $color-emerald-4 );
@include NewArrowTeste( bottom, middle, emerald, $color-emerald, $color-emerald-1, $color-emerald-2, $color-emerald-3, $color-emerald-4 );
@include NewArrowTeste( bottom, left,   emerald, $color-emerald, $color-emerald-1, $color-emerald-2, $color-emerald-3, $color-emerald-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    emerald, $color-emerald, $color-emerald-1, $color-emerald-2, $color-emerald-3, $color-emerald-4 );
@include NewArrowTeste( left,   middle, emerald, $color-emerald, $color-emerald-1, $color-emerald-2, $color-emerald-3, $color-emerald-4 );
@include NewArrowTeste( left,   bottom, emerald, $color-emerald, $color-emerald-1, $color-emerald-2, $color-emerald-3, $color-emerald-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    emerald, $color-emerald, $color-emerald-1, $color-emerald-2, $color-emerald-3, $color-emerald-4 );
@include NewArrowTeste( right,  middle, emerald, $color-emerald, $color-emerald-1, $color-emerald-2, $color-emerald-3, $color-emerald-4 );
@include NewArrowTeste( right,  bottom, emerald, $color-emerald, $color-emerald-1, $color-emerald-2, $color-emerald-3, $color-emerald-4 );

//PISTACHIO
//TOP (right, middle, left)
@include NewArrowTeste( top,    right,  pistachio, $color-pistachio, $color-pistachio-1, $color-pistachio-2, $color-pistachio-3, $color-pistachio-4 );
@include NewArrowTeste( top,    middle, pistachio, $color-pistachio, $color-pistachio-1, $color-pistachio-2, $color-pistachio-3, $color-pistachio-4 );
@include NewArrowTeste( top,    left,   pistachio, $color-pistachio, $color-pistachio-1, $color-pistachio-2, $color-pistachio-3, $color-pistachio-4 );
//BOTTOM (right, middle, left)
@include NewArrowTeste( bottom, right,  pistachio, $color-pistachio, $color-pistachio-1, $color-pistachio-2, $color-pistachio-3, $color-pistachio-4 );
@include NewArrowTeste( bottom, middle, pistachio, $color-pistachio, $color-pistachio-1, $color-pistachio-2, $color-pistachio-3, $color-pistachio-4 );
@include NewArrowTeste( bottom, left,   pistachio, $color-pistachio, $color-pistachio-1, $color-pistachio-2, $color-pistachio-3, $color-pistachio-4 );
//LEFT (top, middle, bottom)
@include NewArrowTeste( left,   top,    pistachio, $color-pistachio, $color-pistachio-1, $color-pistachio-2, $color-pistachio-3, $color-pistachio-4 );
@include NewArrowTeste( left,   middle, pistachio, $color-pistachio, $color-pistachio-1, $color-pistachio-2, $color-pistachio-3, $color-pistachio-4 );
@include NewArrowTeste( left,   bottom, pistachio, $color-pistachio, $color-pistachio-1, $color-pistachio-2, $color-pistachio-3, $color-pistachio-4 );
//RIGHT (top, middle, bottom)
@include NewArrowTeste( right,  top,    pistachio, $color-pistachio, $color-pistachio-1, $color-pistachio-2, $color-pistachio-3, $color-pistachio-4 );
@include NewArrowTeste( right,  middle, pistachio, $color-pistachio, $color-pistachio-1, $color-pistachio-2, $color-pistachio-3, $color-pistachio-4 );
@include NewArrowTeste( right,  bottom, pistachio, $color-pistachio, $color-pistachio-1, $color-pistachio-2, $color-pistachio-3, $color-pistachio-4 );