a { text-decoration: none !important; }

.ing {
    display: inline-block;
    font: normal normal normal 1rem ingaia-font-icons;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
}
button, .btn { text-transform: uppercase; }
button, .btn, a { cursor: pointer; }
label { font-size: $font-size-13; margin-bottom: 0.2rem; }