.h-sm {
    height: 30px !important;
    height: 1.875rem !important;
}
.h-md {
    height: 38px !important;
    height: 2.375rem !important;
}
.h-lg {
    height: 48px !important;
    height: 3rem !important;
}