.__react_component_tooltip {
    padding: 3px 8px !important;
    border-radius: 2px !important;
    line-height: 1.5 !important;

    &.place-bottom:after, &.place-top:after {
        border-left-width: 6px !important;
        border-right-width: 6px !important;
        border-bottom-width: 6px !important;
        margin-left: -6px !important;
    }

    &.place-bottom:after {
        top: -6px !important;
    }

    &.place-top:after {
        bottom: -6px !important;
    }

    &.place-left:after, &.place-right:after {
        margin-top: -5px !important;
    }
}